* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.colored {
  background-color: #ff9b49;
}
/* NAVIGATION BAR */
.Navy {
  display: flex;
  justify-content: space-between;
  width: 97%;
  margin: auto;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Nav_Image img {
  width: 70% !important;
  height: 40px !important;
}
.Nav_Button {
  display: flex;
  gap: 30px;
}
.Nav_Button button {
  min-height: 40px;
  padding: 10px 20px;
  border: none;
}
.Nav_Button .colored {
  background-color: #ff9b49;
  color: white;
  min-width: 150px;
}
.Nav_Button .colored:hover {
  border: 2px solid #ff9b49;
  background-color: white;
  color: #ff9b49;
}
.Nav_Button .non_colored {
  border: 2px solid #ff9b49;
  color: #ff9b49;
  min-width: 100px;
}
.Nav_Button .non_colored:hover {
  background-color: #ff9b49;
  color: white;
}

/* LOGIN PAGE */
.Login_Page {
  width: 80%;
  margin: auto;
}
.Loginy {
  display: flex;
  justify-content: space-between;
}
.Loginy div {
  width: 65%;
}
.Loginy .Loginimage img {
  width: 100% !important;
  height: 100% !important;
}
.Logintext {
  padding-top: 70px;
}
form div {
  /* display: flex;
  flex-direction: column; */
  width: 100%;
}
form input {
  height: 40px;
  margin: 20px 0;
  width: 100% !important;
  padding: 0 10px;
}
form button {
  width: 200px;
  height: 40px;
  border: none;
  margin-bottom: 20px;
  color: white;
}
form small {
  padding-top: 20px;
}
/* LANDING PAGE */
.center {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
